/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
   height: 100%;
   background-color: #cecece;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ff0000;
}

button {
   border-radius: 1rem;
   width: 8rem;
   height: 2rem; 
}
#btn-home {
    background-color: #ffff00;
}

#btn-entry {
    background-color: #110034;
}

button:hover {
   border-radius: 1rem;
   background-color: #00ff00;
}