<div style="text-align:center">
    <section class="section mat-typography">
        <div class="container">
            <nav class="navbar fixed-top shadow-lg my-5" role="navigation" aria-label="main navigation">
                <h1>BallerID</h1>
                <div class="navbar-menu is-active buttons">
                <a mat-raised-button href="/">MatHome</a>>
                <a href="/"><button class="button is-link" id="btn-home">Home</button></a>
                <a href="/data-entry"><button class="button is-link" id="btn-entry">Data Entry</button></a>                    
                </div>
            </nav>
        </div>
    </section>
</div>
<router-outlet></router-outlet>
